#wrapper {
    width: 960px;
    height: 600px;
    background-color: #CCC;
    margin: auto;
}

header {
    box-sizing: border-box;
    background-color: #F00;
    width: 960px;
    border: solid;
    border-width: thin;
}

nav {
    box-sizing: border-box;
    background-color: #00F;
    width: 800px;
    border: solid;
    margin: auto;
    margin-top: 5px;
}

main {
    background-color: #0F0;
    box-sizing: border-box;
    width: 960px;
    border: solid;
    height: 400px;
    margin-top: 200px;
    border-width: 2px;
    padding: 5px;
}