body {
    background-color: rgb(143, 143, 143);
}

#navWrapper {
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    display: block;
    margin: auto;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    position: sticky;
    top: 0;

}


.navLink {
    font-size: 1.5em;
    margin-right: 12.5%;
    margin-left: 12.5%;
    color: black;
    padding: 0 2px 0 2px;

}

nav a:hover {
    color: rgba(255, 255, 255, 0.507);
}

nav a:active {
    text-decoration: none;
    color: white;
}



#empty {
    color: rgba(255, 255, 255, 0.507);
}




#wrapper {
    display: inline;
    margin: auto;
    width: 100%;
    height: 100%;
    margin: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: larger;

}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;

}

#buttonPhone {
    width: 400px;
    height: calc(400/1.333)px;
    float: right;

}





li:first-child {
    font-size: 21px !important;
    font-weight: bold;
    margin-bottom: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
}

footer {
    border-top: 2px solid rgb(71, 71, 71);
    margin-top: 100px;
    background-color: rgba(128, 128, 128, 0.377);
    padding-bottom: 15px;
    height: 1500px;
}

.list-unstyled {
    list-style: none;
}






@media screen and (max-width: 1200px) {
    body {
        background-color: rgb(161, 161, 161);
    }


}

@media screen and (max-width: 600px) {
    body {
        background-color: rgb(201, 199, 199);
    }

    #buttonPhone {
        width: 200px;
        height: calc(200/1.333)px;


    }
}

@media screen and (max-width: 300px) {
    #buttonPhone {
        display: none;
    }
}