
html{

}

h1{
    text-align: center;
    color: blue;

}

#logo{
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav{
    text-align: center;
    
    background-color: rgba(177, 177, 177, 0.466);
    height: 40px;
    padding-top: 20px;
    
   
    

}

