
html{

}


#nav{
    text-align: center;
    
    background-color: rgb(247, 112, 247);
    height: 40px;
    padding-top: 20px;
    
   
    

}

.nav{


    
    
    
    margin-right: 12.5%;
    margin-left: 12.5%;
    height: 40px;
    font-size: 100%;


}




nav{


}