
html{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    color: blue;
    font-family: 'Rubik', sans-serif;
}

#logo{
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav{
    text-align: center;
    
    background-color: rgba(177, 177, 177, 0.466);
    height: 40px;
    padding-top: 20px;
    
   
    

}


#top{
    background-color: bisque;
    padding-bottom: 5px;
    margin-bottom: 10px;



}

#main{
    font-family: 'Tiro Gurmukhi', serif;
    font-size: small;
    color: black;
}

#mainBodyWrapper{
    width: 1500px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(253, 242, 138); /*makes the background of the div with id divv GreenYellow*/
    
    border-width: 5px 15px 5px 15px;
    border-style: solid;
    padding: 5px 10px 50px 10px;
}



footer{
    background-color: rgba(128, 128, 128, 0.61);
}

#footerWrapper{
    height: 100px;
    text-align: center;



}