html {
    margin: 0 15% 0 15%;
    border: 2px solid black;
    padding: 5px;
}

nav ul {
    list-style: none;
    display: inline;
}

li {
    float: left;
    margin-left: 60px;
    font-size: larger;


}

.firstLi {
    margin-left: 15px;
}



h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: 100;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-bottom: 0px;
}


p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}






#aCupImg {
    height: 380px;
    width: 225px;
    float: right;
    margin-right: 100px;
    padding-left: 10px;
}

#crossingLineImg {

    float: right;
    margin-right: 100px;
    margin-top: 15px;
    padding-left: 10px;


}

#teamNz {
    float: right;
    margin-top: 15px;
}